*{
    margin: auto;
    padding: 0;
    font-family: 'Verdana', 'sans-serif';
    text-decoration: none;
    color: black;
}
header{
    overflow: auto;
    height: auto;
    background-color:white;
    text-align: center;
    list-style: none;
}
header h1{
    font-weight: 100;
    font-size: 220%;
    margin-top: 2%; 
}
.main-nav li{
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 2%;
}
.main-nav li a{
    padding: 10px;
    font-size: 90%;
}
.main-nav li a:hover{
    color: #FF5C77;
}
.Hello{
    background-color: #FF96C5;
    color:white;
    height: auto;
    text-align: center;
    overflow: auto;
}
.Hello h1{
    color:white;
    font-weight: 100;
    font-size: 150%;
    margin-top: 3%;
}
.Hello img{
    width: 70%;
    margin-bottom: 3%;
    margin-top: 2%;
}
.Projects{
    background-color: #FF5768;
    height: auto;
    text-align: center;
    overflow: auto;
}
.Projects h1{
    font-weight: 100;
    margin-top: 3%;
    margin-bottom: 2%;
    color: white;
}
.proj{
    display: flex;
    width: 90%;
    margin-bottom: 2%;
}
.PR{
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 3%;
    background-color: white;
    width: 45%;
    border: 1px solid black;
}
.PR img{
    width: 90%;
    margin:2%;
}
.PR p{
    width: 90%;
    margin-bottom: 3%;
    text-align: justify;
}
.Resume{
    background-color: #ededed;
    height: auto;
    text-align: center;
    overflow: auto;
}
.Resume h1{
    font-weight: 100;
    margin-top: 3%;
}
.Resume img{
    width: 100%;
}
.Contact{
    background-color: #FFBF65;
    height: auto;
    text-align: center;
    overflow: auto;
}
.Contact h1{
    color:white;
    font-weight: 100;
    margin-top: 3%;
}
.Contact p{
    color:white;
    margin-top: 2%;
    margin-bottom: 2%;
}
.Contact a{
    color:white;
}